.generalForms input {
  width: 303px;
  height: 45px;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}
::placeholder {
  color: #dbdbdb;
  size: 20px;
  line-height: 25px;
  padding-left: 20px;
}

.buttonSubmit {
  width: 303px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  background-color: #52b6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Playball";
  src: local("Playball"), url("../fonts/Playball-Regular.ttf");
}

@font-face {
  font-family: "LexendDeca";
  src: local("LexendDeca"), url("../fonts/LexendDeca-VariableFont_wght.ttf");
}

a {
  text-decoration: none;
}
body {
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
